# Documentação: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependências / cache de gerenciadores
node_modules/
.npm/
.yarn/

# Expo / Metro / build
.expo/
.expo-shared/
.metro-health-check*
dist/
web-build/
expo-env.d.ts

# Caches e artefatos opcionais
coverage/
*.tsbuildinfo

# 
.env
.env*.local

# 
android/
ios/
.kotlin/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
expo-error.log

# IDE / editores
.vscode/
.idea/
*.iml

# SO
.DS_Store
Thumbs.db
desktop.ini
*.pem

# Exemplos / pastas locais
app-example
